* {
    font-family: sans-serif;
}

main {
    display: flex;
    width: 100%;

    .asientos {
        display: flex;
        flex-direction: column;
        width: 75%;
    }
}

.asiento {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    background-color: rgb(244, 242, 242);
    gap: 20px;

    &__title {
        display: flex;
        justify-content: space-between;

        h5 {
            font-size: 20px;
        }

        button {
            background-color: transparent;
            padding: 8px;
            border: 3px solid rgb(161, 43, 136);
            border-radius: 20px;
            color: rgb(161, 43, 136);
        }
    }

    &__option {
        display: flex;
        gap: 200px;

        article {
            display: flex;
            gap: 10px;
            align-items: center;

            div {
                width: 50px;
                height: 50px;
                background-color: white;
            }
        }
    }

    &__columnas {
        display: flex;
        gap: 200px;

        article {
            display: flex;
            gap: 10px;
            div {
                display: flex;
                flex-direction: column;
                gap: 10px;
                button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    background-color: rgb(199, 198, 198);
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(161, 43, 136) ;
                    }
                }
            }
        }
    }

}